.b-button {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    font: normal 11px Verdana,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 0;
    text-indent: 0;
    border: 1px solid #ccc;
    border-color: #e5e5e5 #ccc #a8a8a8;
    white-space: nowrap;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
            
    text-shadow: 0 1px 0 #fff;
    padding: 3px 19px 4px 18px;
    margin-right: .1em;
}

.b-button:hover,
.b-button_hover {
    background: #fdffcc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZGZmY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZWZmZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #fdffcc 30%, #feffeb 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#fdffcc), color-stop(70%,#feffeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdffcc 30%,#feffeb 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdffcc 30%,#feffeb 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdffcc 30%,#feffeb 70%); /* IE10+ */
    background: linear-gradient(to bottom, #fdffcc 30%,#feffeb 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffcc', endColorstr='#feffeb',GradientType=0 ); /* IE6-8 */
}

.b-button:focus,
.b-button_focus {
    border-color: #94a1e0 #8692cf #6d79b8;
    -webkit-box-shadow: 0 0 2px 1px #d2d8f8;
       -moz-box-shadow: 0 0 2px 1px #d2d8f8;
            box-shadow: 0 0 2px 1px #d2d8f8;

}

.b-button:active,
.b-button_active {
    padding: 4px 19px 3px 18px;
    border-color: #959595;
    -webkit-box-shadow: inset 0 1px 3px 0 #a5a5a5;
       -moz-box-shadow: inset 0 1px 3px 0 #a5a5a5;
            box-shadow: inset 0 1px 3px 0 #a5a5a5;
    text-shadow: 0 -1px 0 #fff;
}

.b-button,
.b-button:active,
.b-button_active,
.b-button:focus,
.b-button_focus {
    outline: none;
    background: #e2e2e2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #e2e2e2 30%, #f2f2f2 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#e2e2e2), color-stop(70%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 30%,#f2f2f2 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 30%,#f2f2f2 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 30%,#f2f2f2 70%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 30%,#f2f2f2 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}

/* reset extra padding in Firefox */  
.b-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.b-button_rounded-reset {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.b-button_rounded-top-right {
    -webkit-border-top-right-radius: 7px;
       -moz-border-radius-topright: 7px;
            border-top-right-radius: 7px;
}
.b-button_rounded-top-left {
    -webkit-border-top-left-radius: 7px;
       -moz-border-radius-topleft: 7px;
            border-top-left-radius: 7px;
}
.b-button_rounded-bottom-left {
    -webkit-border-bottom-left-radius: 7px;
       -moz-border-radius-bottomleft: 7px;
            border-bottom-left-radius: 7px;
}
.b-button_rounded-bottom-right {
    -webkit-border-bottom-right-radius: 7px;
       -moz-border-radius-bottomright: 7px;
            border-bottom-right-radius: 7px;
}

.b-button-group {
    display: inline-block;
    text-indent: 0;
    white-space: nowrap;
}
.b-button-group_horizontal .b-button {
    margin-right: -1px;
}
.b-button-group_vertical .b-button {
    margin-bottom: -1px;
    margin-right: 0;
}
.b-button-group .b-button {
    word-spacing: 0;
}
.b-button-group .b-button:active,
.b-button-group .b-button:focus {
    z-index: 2;
}

.b-button_mega:hover {
    color: #017700;
    background: #f5fff4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JlZmZiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2E5ZmY5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGY5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #f5fff4 0%, #beffb7 50%, #a9ff96 51%, #d4f9d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5fff4), color-stop(50%,#beffb7), color-stop(51%,#a9ff96), color-stop(100%,#d4f9d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5fff4 0%,#beffb7 50%,#a9ff96 51%,#d4f9d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5fff4 0%,#beffb7 50%,#a9ff96 51%,#d4f9d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5fff4 0%,#beffb7 50%,#a9ff96 51%,#d4f9d8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5fff4 0%,#beffb7 50%,#a9ff96 51%,#d4f9d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5fff4', endColorstr='#d4f9d8',GradientType=0 ); /* IE6-8 */
}

.b-button_mega,
.b-button_mega:active,
.b-button_mega:focus {
    color: #184C7A;
    font-weight: bold;
    background: #ebf1f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZjFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlZTBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2IyZDRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWViZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #ebf1f6 0%, #cee0ed 50%, #b2d4ea 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#cee0ed), color-stop(51%,#b2d4ea), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebf1f6 0%,#cee0ed 50%,#b2d4ea 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ebf1f6 0%,#cee0ed 50%,#b2d4ea 51%,#d5ebfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ebf1f6 0%,#cee0ed 50%,#b2d4ea 51%,#d5ebfb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ebf1f6 0%,#cee0ed 50%,#b2d4ea 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-8 */
}