.b-rating {
    display: inline-block;
    width: 90px;
    height: 16px;
    vertical-align: middle;
    text-indent: 0;
    white-space: nowrap;
    line-height: 16px;
    cursor: pointer;
}

.b-rating .b-rating__item {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url("../images/star.png") center top no-repeat;
    padding: 0 1px;
    text-decoration: none;
}

.b-rating_active .b-rating__item {
    background-position: center bottom;
}
.b-rating .b-rating__item_active ~ .b-rating__item {
    background-position: center top;
}

.b-rating:hover .b-rating__item {
    background-position: center bottom;
}
.b-rating .b-rating__item:hover ~ .b-rating__item {
    background-position: center top;
}